@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.player-row {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0rem;
    &:hover {
        background-color: #383636;
    }

    @include desktop {
        margin: 1rem 0rem;
        background-color: rgb(74, 74, 67);
        border-radius: 5px;
    }
   
    &__player {
        display: flex;
        flex-direction: row;
        min-width: 10rem;
        padding: 0rem 1rem;

        &__add {
            width: 1rem;
            padding-top: 0.2rem;
            margin-right: 0.4rem;

            @include desktop {
                width: 1.5rem;
            }
        }

        &__button {
            width: 1rem;

            @include desktop {
                width: 1.5rem;
                margin-top: 0.1rem;
            }
            
        }

        &__img {
            width: 1.75rem;
            height: 1.75rem;
            object-fit: cover;

            @include desktop {
                width: 2rem;
                height: 2rem;
                margin-top: 0.2rem;
                margin-left: 0.25rem;
            }
        }

        &__details {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 9rem;
            
            @include tablet {
                width: 11rem;
            }

            @include desktop {
                width: 16rem;
                justify-content: space-between;
            }


            &__name {
                flex-wrap: nowrap;
                font-size: 0.7rem;
                white-space: nowrap;
                margin-right: 0.5rem;
                padding-top: 0.45rem;
                padding-left: 0.25rem;

                @include desktop {
                    font-size: 1.15rem;
                    margin-right: 1.5rem;
                    padding-top: 0.6rem;
                }
            }

            &__team-info {
                width: 4rem;
                display: flex;
                margin-top: 0.5rem;

                @include desktop {
                    padding-top: 0.6rem;
                }

            }

            &__team-info__team {
                white-space: nowrap;
                font-size: 0.6rem;
                

                @include desktop {
                    font-size: 0.8rem;
                    margin-left: 1rem;
                }
            }

            &__team-info__position {
                font-size: 0.6rem;  
                
                @include desktop {
                    font-size: 0.8rem;
                }
            }
        }
    }


    &__cat {
        padding-left: 2rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        font-size: 0.6rem;
        width: 2rem;
        justify-content: center;

        @include desktop {
            font-size: 1rem;
            padding: 0.7rem 2rem;
        }

    }
}
