@use "../../styles/partials/mixins" as *;

.players__desktop {
    @include desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        padding: 1rem;

        @include desktop {
            font-size: 3rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }

}