// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// primary colors
$primary-black: #13182C;
$primary-indigo: #2E66E5;
$primary-white: #ffffffdf;

// secondary colors
$secondary-slate: #5C667E;
$secondary-cloud: #BDC5D5;
$secondary-grey: #1E1F25;

// background colors
$background-graphite: #232940;
$background-grey: rgb(36, 36, 36);
$background-greycard: #1E1F25;
$background-primary: #18191b;
$background-nav: #152152;

// supporting colors
$supporting-green: #2d4c43;
$supporting-red: #6c1c1c;