@use "../../styles/partials/variables" as *;

.signup-page {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        padding-top: 1rem;
        background-color: $secondary-grey;
        border-radius: 10px;
    }
}

.formFields {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formTitle {
color: #707c8b;
font-weight: 300;
margin-bottom: 50px;
}

.formTitleLink {
color: #707c8b;
text-decoration: none;
display: inline-block;
font-size: 1.7em;
margin: 0 10px;
padding-bottom: 5px;
}

.formTitleLink:first-child {
margin-left: 0;
}

.formTitleLink-active {
color: white;
border-bottom: 1px solid #6b5b95;
}

.formField {
margin-bottom: 40px;
display: flex;
flex-direction: column;
width: 17rem;
padding: 0rem 0.5rem;
}

.formFieldLabel {
display: block;
text-transform: uppercase;
font-size: 0.9em;
color: white;
}
.formFieldInput {
width: 100%;
background-color: transparent;
border: none;
color: white;
outline: none;
border-bottom: 1px solid #445366;
font-size: 1em;
font-weight: 300;
padding-bottom: 10px;
margin-top: 0.25rem;
}

.formFieldInput::placeholder {
color: #616e7f;
}

.formFieldButton {
color: white;
border: 1px solid $primary-white;
outline: none;
border-radius: 25px;
padding: 15px 70px;
font-size: 0.8em;
font-weight: 500;
margin-bottom: 1rem;
width: 12rem;   
}

.formFieldLink {
color: #66707d;
text-decoration: none;
display: inline-block;
border-bottom: 1.5px solid #6b5b95;
padding-bottom: 5px;
width: 9rem;
}

.formField-button {
    display:flex;
    flex-direction: column;
    align-items: center;
}
