@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.createteam {
    display: flex;
    flex-direction: column;

    @include desktop {
        align-items: center;
    }

    &__desktop-con {
        
        @include desktop {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    &__teamform {
        padding: 1rem;

        @include desktop {
            width: 18rem;
            padding-top: 0rem;
        }

        &__title {
            padding: 1rem;

            @include desktop {
                margin-top: 1rem;
                margin-bottom: 2rem;
                font-size: 3rem;
            }
        }

        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__textarea {
                background-color: grey;
                border-radius: 15px;
                padding: 0.25rem;
                color: $primary-white;
                border: 1px solid grey;
                text-indent: 5%;
                width: 100%;

                @include tablet {
                    width: 50%;
                }

                @include desktop {
                    width: 94%;
                }
            }

            &__button {
                margin-top: 1rem;
                border: 1px solid $primary-white;
                width: 60%;
                padding: 0.25rem;
                border-radius: 15px;

                @include tablet {
                    margin-top: 1.5rem;
                    width: 20%;
                }

                @include desktop {
                    width: 60%;
                }

                &--icon {
                    width: 1rem;
                    vertical-align: middle;
                    margin-right: 0.5rem;
                    padding-bottom: 0.2rem;
                }
            }
        }

    }

    &__team {
        padding: 0rem 1rem;

        @include tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__title {
            font-weight: 500;

            @include tablet {
                font-size: 1.25rem;
            }
        }
    }

    &__clear {
        padding: 0rem 1rem;

        @include tablet {
            display: flex;
            justify-content: center;
        }

        &__button {
            margin-top: 1rem;
            border: 1px solid $primary-white;
            width: 40%;
            padding: 0.25rem;
            border-radius: 15px;

            @include tablet {
                margin-top: 1.5rem;
                width: 20%;
                margin-bottom: 1.5rem;
            }

            @include desktop {
                width: 40%;
            }

            &__icon {
                width: 1rem;
                vertical-align: middle;
                margin-right: 0.5rem;
                padding-bottom: 0.2rem;
            }
        }
    }

}

::placeholder {
    color: $primary-white;
    padding: 0.25rem;
}

