@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.player-card__player-info {
    display: flex;
    align-items: center;
    margin: 0.15rem;
    border-radius: 5px;
    background-color: #282828;  
    padding: 0.1rem 0.75rem;


    &__position {
        font-size: 0.515rem;
        font-weight: 600;
        margin-right: 0.5rem;
        border-radius: 5px;
        padding: 0.35rem 0.35rem;
        width: 2rem;
        text-align: center;
        background-color: #4b4b4b;
    }

    &__img {
        margin-right: 0.5rem;
        width: 1.5rem;
        border-radius: 15%;
        object-fit: cover;
        margin-bottom: 0.5rem;

    }

    &__player-name {
        font-weight: 500;
        font-size: 0.8rem;
        margin-right: 0.5rem;
        width: 5.5rem;
    }

    &__player-team {
        font-size: 0.5rem;
        margin-top: 0.15rem;
    }
}