@use "../../styles/partials/mixins" as *;

.record {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-weight: 600;

    @include desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__stat {
        @include desktop {
        font-size: 2rem;
        margin-bottom: 1rem;
        font-weight: 600;
        }
    }
    
}