@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hc {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        margin-top: 3rem;
        flex-direction: column;
        align-items: center;
    }

    @include desktop {
        flex-direction: row;
        justify-content: center;
        margin: 3rem 0rem;
    }

    &-card {
        width: 18rem;
        height: 10rem;
        margin: 1rem;
        position: relative;

        @include tablet {
            width: 25rem;
            height: 14rem;
        }

        @include desktop {
            width: 24rem;
            height: 36rem;
            margin: 1.5rem;     
        }

        &-con {
            position:relative;

            @include desktop {
                width: 24rem;
                height: 36rem;
            }
        }

        &__overlay {
            position: absolute;
            width: 18rem;
            height: 10rem; 
            top: 0; 
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.8);
            z-index: 2; 
            border-radius: 10px;
            cursor: pointer;

            @include tablet {
                width: 25rem;
                height: 14rem;
            }

            @include desktop {
                width: 24rem;
                height: 36rem;
            }
        }

        &__title {

            &-players {
                position: absolute;
                top: 33%;
                right: 21%;
                color: $primary-white;
                font-weight: 600;
                z-index: 3;
                font-size: 2.5rem;

                @include tablet {
                    top: 36%;
                    right: 30%;
                    color: $primary-white;
                    font-weight: 600;
                    z-index: 3;
                    font-size: 2.5rem;
                }

                @include desktop {
                    top: 42%;
                    right: 15%;
                    color: $primary-white;
                    font-weight: 600;
                    z-index: 3;
                    font-size: 4rem;
                }
            }

            &-teams {
                position: absolute;
                top: 33%;
                right: 14%;
                color: $primary-white;
                font-weight: 600;
                z-index: 3;
                font-size: 2.5rem;

                @include tablet {
                    top: 36%;
                    right: 22%;
                    color: $primary-white;
                    font-weight: 600;
                    z-index: 3;
                    font-size: 2.5rem;
                }

                @include desktop {
                    top: 42%;
                    right: 7%;
                    color: $primary-white;
                    font-weight: 600;
                    z-index: 3;
                    font-size: 4rem;
                }
            }

            &-season {
                position: absolute;
                top: 37%;
                right: 22%;
                color: $primary-white;
                font-weight: 600;
                z-index: 3;
                font-size: 2.5rem;

                @include tablet {
                    top: 36%;
                    right: 31%;
                    color: $primary-white;
                    font-weight: 600;
                    z-index: 3;
                    font-size: 2.5rem;
                }

                @include desktop {
                    top: 42%;
                    right: 15%;
                    color: $primary-white;
                    font-weight: 600;
                    z-index: 3;
                    font-size: 4rem;
                }
            }
        }

        &__img {
            width: 18rem;
            height: 10rem;

            @include tablet {
                width: 25rem;
                height: 14rem;
            }

            @include desktop {
                width: 24rem;
                height: 36rem;
            }
            

            &--players {
                object-fit: cover;
                object-position: 0% 18%;
                border-radius: 10px;
            }

            &--teams {
                object-fit: cover;
                object-position: 0% 88%;
                border-radius: 10px;

                @include desktop {
                    object-fit: cover;
                    object-position: 66% 88%;
                    border-radius: 10px;   
                }
            }

            &--season {
                object-fit: cover;
                object-position: 100% 0%;
                border-radius: 10px;

                @include desktop {
                    object-position: 100% 36%;
                }
            }

            &--season--mobile {
                @include desktop {
                    display: none;
                }
            }

            &--season--desktop {
                display: none;

                @include desktop {
                    display: block;
                }
            }
        }
    }
}