.playertable {
    padding: 1rem;
    &__table {
        background-color: #1E1F25;
        border-radius: 20px;
        height: 30rem;
        padding: 0 10px 10px 10px;
        overflow: scroll;
    }
}