@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.login-page {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
        margin-top: 2rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        padding-top: 1rem;
        background-color: $secondary-grey;
        border-radius: 10px;
        max-width: 22.25rem;
        padding-bottom: 2rem;
        height: 23rem;

        @include tablet {
            width: 22.25rem;
        }

        &__title {
            @include tablet {
                font-size: 1.25rem;
            }
        }

    }
}

.formFields {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        padding-bottom: 0rem;
    }
}

.formTitle {
color: #707c8b;
font-weight: 300;
margin-bottom: 3.125rem;
}

.formTitleLink {
color: #707c8b;
text-decoration: none;
display: inline-block;
font-size: 1.7em;
margin: 0 0.625rem;
padding-bottom: 0.3125rem;
}

.formTitleLink:first-child {
margin-left: 0;
}

.formTitleLink-active {
color: white;
border-bottom: 1px solid #6b5b95;
}

.formField {
margin-bottom: 2.5rem;
display: flex;
flex-direction: column;
width: 17rem;
padding: 0rem 0.5rem;
}

.formFieldLabel {
display: block;
text-transform: uppercase;
font-size: 0.9em;
color: white;
}
.formFieldInput {
width: 100%;
background-color: transparent;
border: none;
color: white;
outline: none;
border-bottom: 1px solid #445366;
font-size: 1em;
font-weight: 300;
padding-bottom: 0.625rem;
margin-top: 0.25rem;
}

.formFieldInput::placeholder {
color: #616e7f;
}

.formFieldButton {
color: white;
border: 1px solid $primary-white;
outline: none;
border-radius: 1.5625rem;
padding: 15px 70px;
font-size: 0.8em;
font-weight: 500;
margin-bottom: 1rem;
width: 12rem;   
}

.formFieldLink {
color: #66707d;
text-decoration: none;
display: inline-block;
border-bottom: 1.5px solid #6b5b95;
padding-bottom: 0.3125rem;
width: 9rem;
text-align: center;
}

.formField-button {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.signedup {
    margin-top: 1rem;
}